@model HomeViewModel

<partial name="_Caroucel" />

<h2>Pies of the Week</h2>
<h4>Our Weekly selection just for you</h4>

<div class="row">
    @foreach(var pie in Model.PiesOfTheWeek)
    {
        <partial name="_pieCard" model="pie" />
    }
</div>